
#nweb_PluginAPINoticias {
	display: inline-block;
	display: -webkit-inline-block;
	background: #f0f0f0;
	margin-right: 20px;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	border-radius: 7px;
	box-shadow: 5px 5px 5px #cccccc;
	border: 1px solid #f89826;
}

#nweb_PluginAPINoticias #nweb_noticias {
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	background-color: white;
	border-radius: 7px;
}

#nweb_PluginAPINoticias #nweb_noticias img {
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	background-color: white;
	border-radius: 7px;
	max-width: 99% !important;
}

#nweb_PluginAPINoticias #nweb_noticias > table {
	max-width: 99% !important
}

#nweb_PluginAPINoticias #nweb_noticias > tr {
	max-width: 99% !important
}

#nweb_noticias {
	display: inline-block;
}

#nweb_noticias #nweb_coluna {
	float: left;
}

#nweb_noticias #nweb_coluna.nweb_coluna_esquerda {
	margin-right: 20px;
}

#nweb_noticias #nweb_coluna_esquerda {
}

#nweb_noticias #nweb_coluna_esquerda h1 {
	font-size: 40px;
}

#nweb_noticias #nweb_coluna_esquerda * {
	color: #000000;
}

#nweb_noticias #nweb_coluna_esquerda #newb_texto {
}

#nweb_noticias #nweb_coluna_esquerda #newb_texto > * {
}

#nweb_noticias #nweb_coluna_direita {
}

#nweb_noticias #nweb_coluna_direita .nweb_titulo_direita {
	font-size: 20px;
	text-align: center;
}

.nweb_lista_noticias_listagem {
	display: inline-block;
	display: -webkit-inline-block;
	margin: 0px;
	margin-top: 10px;
	padding: 0px;
	list-style-type: none;
}

/*
.nweb_lista_noticias_listagem div.nweb_linhaListagem {
	display: none;
}
*/

.nweb_lista_noticias_listagem div.nweb_linhaListagem {
	display: inline-block;
	display: -webkit-inline-block;
	margin: 0px;
	margin-top: 10px;
	padding: 0px;
	list-style-type: none;
}

.nweb_lista_noticias_listagem div.nweb_linhaListagemOutras {
	display: inline-block;
}

.nweb_lista_noticias_listagem a {
	text-align: justify;
	font-size: 18px;
}

.nweb_lista_noticias_listagem li {
	float: left;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	max-width: 280px;
	padding: 0px;
}

.nweb_lista_noticias_listagem li div.nweb_chamadaNoticiaNoticadorWeb {
	display: inline-block;
	padding: 0px;
	margin-bottom: 10px;
}

.nweb_lista_noticias_listagem li div.nweb_chamadaNoticiaNoticadorWeb div a {
	color: #000;
	text-decoration: none;
}

.nweb_lista_noticias_listagem li div.nweb_chamadaNoticiaNoticadorWeb div a:hover {
	color: Orange;
}

.nweb_lista_noticias_listagem li div.nweb_chamadaNoticiaNoticadorWeb div.nweb_colunaElementoNoticia {
	float: left;
	padding: 0px;
}

.nweb_lista_noticias_listagem li div.nweb_chamadaNoticiaNoticadorWeb div.nweb_colunaElementoNoticia.nweb_colunaDireita {
	margin-left: 10px;
	display: inline-block;
}

.nweb_lista_noticias_listagem li div.nweb_chamadaNoticiaNoticadorWeb div.nweb_colunaElementoNoticia.nweb_colunaDireita h3 {
	font-size: 20px;
	font-weight: none;
}

.nweb_lista_noticias_listagem li div.nweb_chamadaNoticiaNoticadorWeb div.nweb_colunaElementoNoticia.nweb_colunaDireita h3 a {
}

.nweb_lista_noticias_listagem li div.nweb_chamadaNoticiaNoticadorWeb div.nweb_colunaElementoNoticia.nweb_colunaDireita h3 a:hover {
}

.nweb_lista_noticias_listagem li div.nweb_chamadaNoticiaNoticadorWeb div.nweb_thumbnail {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

.nweb_lista_noticias_listagem li div.nweb_chamadaNoticiaNoticadorWeb div.nweb_titulo {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: justify;
	font-family: 'shareRegular';
	font-size: 14px;
	font-weight: bold;
}

.nweb_lista_noticias_listagem li div.nweb_chamadaNoticiaNoticadorWeb div.nweb_resumo {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: justify;
	font-size: 11px;
}

div.nweb_botaoExibirMais {
	display: block;
	border: 1px solid Orange;
	border-radius: 7px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	color: Orange;
	font-weight: bold;
}

a.nweb_botaoExibirMais {
	display: inline-block;
	color: Orange;
	border: 0px solid Orange;
	font-weight: bold;
}



#nweb_comentarios {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
	color: #000 !important;
}

#nweb_comentarios .nweb_coment p {
	display: block;
    background-color: #eeeeee;
	margin: 0px;
    padding: 10px;
	color: #000 !important;
}

#nweb_comentarios span {
	width: 694px;
	display: block;
	white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
	margin: 0px;
    padding: 10px;
}
