@media screen and (-webkit-min-device-pixel-ratio:0) {
    .topBar_content {
        margin-left: 150px;
    }
}

body {
    background-color: #9ec8ee;
    color: #000;
    background-image: url(../images/layout/bd_background.png);
    background-position: top left;
    background-repeat: repeat-x;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin: 0;
}

strong {
    font-weight: bold;
}


/* Formatacao padrao dos itens te formulario */

input,
select,
textarea {
    border: 1px solid #abadb3;
    font-size: 1em;
    background-color: #f8f9fb;
}

form label {
    color: #798793;
    display: block;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 10px;
}

form .available_chars {
    float: right;
    background-color: #04264c;
    color: #fff;
    padding: 2px;
}

form label#charResumo {
    display: inline;
}

form input[type=submit] {
    display: block;
    margin-top: 5px;
}


/* Tabelas */

table.form td {
    padding: 3px;
}

table.formatted {
    width: 100%;
}

table.formatted thead {
    font-weight: bold;
}

table.formatted thead,
table.formatted tfoot {
    background-color: #04264c;
    color: #fff;
    border: 1px solid #04264c;
}

table.formatted td {
    padding: 5px;
}

table.formatted tbody tr {
    background-color: #f3f4f7;
    color: #04264c;
    border: 1px solid #bcc3c9;
}

table.formatted tbody tr.odd {
    background-color: #f8f9fb;
}

table.formatted tr th {
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    padding: 5px;
    text-align: left;
}

OPTION.maroon {
    background-color: maroon;
    color: white
}

OPTION.white {
    background-color: white;
    color: black
}

OPTION.gray {
    background-color: gray;
    color: white
}

OPTION.silver {
    background-color: silver;
    color: black
}

OPTION.black {
    background-color: black;
    color: white
}

OPTION.green {
    background-color: green;
    color: white
}

OPTION.blue {
    background-color: blue;
    color: white
}

OPTION.navy {
    background-color: navy;
    color: white
}

OPTION.olive {
    background-color: olive;
    color: black
}

OPTION.teal {
    background-color: teal;
    color: black
}


/*Titulos*/

h1.default_title {
    color: #04264c;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #04264c;
}


/*Parágrafos*/

p {
    margin-bottom: 10px;
}


/* listas */

ul.default_ul {
    padding-left: 16px;
    list-style-position: inside;
    list-style-type: disc;
}

ol.default_ul {
    padding-left: 16px;
    list-style-position: inside;
    list-style-type: decimal;
}

.clearRight {
    clear: right;
}

.width100percent {
    width: 100%;
}


/* Borda arredondada */

.rounded_content_top,
.rounded_content_bottom,
.rounded_gray_content_bottom {
    height: 10px;
    background-repeat: no-repeat;
    overflow: hidden;
}

.rounded_content_top {
    background-image: url(../images/layout/content_top_corners.png);
    background-position: bottom;
}

.rounded_content_bottom {
    background-image: url(../images/layout/content_bottom_corners.png);
    background-position: top;
    padding-top: 15px;
    text-align: center;
}

.rounded_content_bottom p {
    margin-left: 0px;
}

.rounded_gray_content_bottom {
    background-image: url(../images/layout/content_gray_bottom_corners.png);
    background-position: top;
}

.rounded_content_middle {
    background-image: url(../images/layout/content_middle_borders.png);
    background-repeat: repeat-y;
    background-position: center;
}

.rounded_content {
    padding: 0 10px;
}


/* Cabeçalho */

#hd {
    height: 73px;
    background-image: url(../images/layout/hd_background.png);
    background-position: center;
    background-repeat: repeat-x;
    margin-top: 5px;
}


/* Elemento que centraliza o topo */

#hd_content {
    width: 777px;
    margin: 0 auto;
}

#hd_content h1 {
    width: 230px;
    height: 73px;
    display: block;
    float: left;
}


/* Transforma o texto em imagem */

#hd_content h1 a {
    display: block;
    widows: 230px;
    height: 73px;
    display: block;
    background-image: url(../images/layout/hd_logo.png);
    background-position: top left;
    background-repeat: no-repeat;
}


/* Esconde o texto */

#hd_content h1 a span {
    display: none;
}

#slogan {
    color: #FFFFFF;
    float: left;
    font-size: 13px;
    font-weight: bold;
    height: 30px;
    margin-left: 5px;
    padding-top: 25px;
}

.botaoLogin {
    border: none;
    width: 79px;
    height: 24px;
    display: block;
    background-image: url(../images/layout/button_entrar.png);
    background-repeat: no-repeat;
    background-position: top left;
    float: right;
}

.botaoEnviar {
    border: none;
    width: 79px;
    height: 24px;
    float: right;
    background-image: url(../images/layout/button_enviar.png);
    background-repeat: no-repeat;
    background-position: top left;
    margin: 5px 10px 0 0;
}

.botaoSalvar {
    border: none;
    width: 79px;
    height: 24px;
    float: right;
    background-image: url(../images/layout/button_salvar.png);
    background-repeat: no-repeat;
    background-position: top left;
    margin: 5px 10px 0 0;
}

.botaoAtualizar {
    border: none;
    width: 90px;
    height: 22px;
    float: right;
    background-image: url(../images/layout/button_atualizar.png);
    background-repeat: no-repeat;
    background-position: top left;
    margin: 0px 10px 0 0;
}

.botaoVisualizar {
    border: none;
    width: 90px;
    height: 24px;
    display: block;
    background-image: url(../images/layout/button_visualizar.gif);
    background-repeat: no-repeat;
    background-position: top left;
    float: right;
    margin: 5px 10px 0 0;
}

.botaoVoltar {
    border: none;
    width: 74px;
    height: 24px;
    background-image: url(../images/layout/button_voltar.png);
    background-repeat: no-repeat;
    background-position: top left;
    float: right;
    margin: 5px 10px 0 0;
}

.botaoSelecionar {
    border: none;
    width: 100px;
    height: 24px;
    float: right;
    background-image: url(../images/layout/button_selecionar.png);
    background-repeat: no-repeat;
    background-position: top left;
    margin: 5px 10px 0 0;
}

.botaoAutenticar {
    border: none;
    width: 100px;
    height: 24px;
    float: right;
    background-image: url(../images/layout/button_autenticar.png);
    background-repeat: no-repeat;
    background-position: top left;
    margin: 5px 10px 0 0;
}

.botaoAssociar {
    border: none;
    width: 90px;
    height: 24px;
    float: right;
    background-image: url(../images/layout/button_associar.png);
    background-repeat: no-repeat;
    background-position: top left;
    margin: 5px 10px 0 0;
}

#login_control {
    padding-top: 10px;
    /*float: right;*/
    color: #fff;
    text-align: right;
    padding-right: 0px;
}

#login_control .name {
    font-size: 1.3em;
    font-weight: bold;
}


/* Definições do Corpo */

#bd {
    width: 777px;
    margin: 0 auto;
}

#column_menu {
    width: 194px;
    padding-left: 25px;
    background-image: url(../images/layout/menu_bg_top.png);
    background-position: top right;
    background-repeat: no-repeat;
    padding-top: 34px;
    float: left;
}

#bandera {
    padding-top: 0px;
    padding-right: 0px;
    position: absolute;
    background-color: #586978;
    border: #B0B0B0 solid .5px;
    text-decoration: none;
    display: none;
    width: 75px;
    height: 30px;
}

#dividioma {
    float: right;
    position: absolute;
    padding-left: 800px;
}

#spain {
    text-decoration: none;
    float: right;
    position: absolute;
}

#brazil {
    text-decoration: none;
    position: absolute;
}

#dividioma a {
    font-style: normal;
    color: white;
    text-decoration: none;
}

#dividioma {
    float: right;
    padding-top: 8px;
    padding-right: 0px;
    position: absolute;
    text-decoration: none;
}

ul#navigation_menu li.button {
    background-color: #798793;
}

#navigation_menu {
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
    height: 338px;
    background-color: #798793;
}

ul#navigation_menu li.button img {
    vertical-align: middle;
}

ul#navigation_menu li.button a {
    display: block;
    padding: 5px;
    padding-left: 10px;
    background-position: 5px center;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-top: 1px solid #798793;
    border-bottom: 1px solid #798793;
}

ul#navigation_menu li.button a:hover {
    background-color: #586978;
    border-top: 1px solid #3c4349;
    border-bottom: 1px solid #a2acb4;
}

ul#navigation_menu li.home {
    height: 29px;
    *height: 27px;
    text-align: right;
    padding-right: 10px;
}

ul#navigation_menu li.home a {
    height: 29px;
    width: 61px;
    display: block;
    background-image: url(../images/layout/menu_home_link.png);
    background-position: top left;
    background-repeat: no-repeat;
    float: right;
}

ul#navigation_menu li.home a span {
    display: none;
}

#login_form {
    background-image: url(../images/layout/login_form_top_bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-color: #04264c;
    color: #fff;
    padding: 13px 0 5px;
}

#login_form li.input {
    padding: 4px 20px;
    height: 22px;
    color: #fff;
    background-image: url(../images/layout/login_form_input_bg.png);
    background-position: left center;
    background-repeat: no-repeat;
    line-height: 22px;
}

#login_form li.control {
    padding: 5px 10px 0;
    line-height: 24px;
    height: 24px;
}

#login_form li.control a {
    color: #8ba0b8;
}

#login_form li label {
    float: left;
}

#login_form li input#login_user,
#login_form li input#login_pass {
    background-color: #153355;
    color: #fff;
    font-weight: normal;
    border: none;
    height: 20px;
    width: 155px;
    float: right;
}

#login_form li a#login_submit {
    width: 79px;
    height: 24px;
    display: block;
    background-image: url(../images/layout/button_entrar.png);
    background-repeat: no-repeat;
    background-position: top left;
    float: right;
}

#login_form li a#login_submit span {
    display: none;
}

#bisa {
    margin-top: 5px;
    width: 194px;
    height: 127px;
    display: block;
    background-image: url(../images/layout/bisa.png);
}

#bisa span {
    display: none;
}

#column_content {
    height: 300px;
    float: right;
    width: 540px;
}

.index#column_content {
    position: relative;
    top: 33px;
}

.listagem#column_content {
    position: relative;
    top: -11px;
}


/* novo estilo pra integracao com o portal do locador*/

.column_contentapi {
    height: 300px;
    width: 540px;
    margin-top: 5px;
}


/*----------------*/

#ft {
    text-align: center;
    position: relative;
}

.paginacao {
    text-align: center;
    font-weight: bold;
    color: #FFF;
}

.paginacao a {
    color: #FFF;
}


/* index */

#index_teste_gratuito {
    background-image: url(../images/layout/index_teste_gratuito_bg.png);
    background-position: center top;
    background-repeat: no-repeat;
    height: 48px;
    font-weight: bold;
    width: 320px;
    padding-left: 200px;
    padding-top: 30px;
    padding-right: 20px;
    clear: both;
}

#index_funcionalidades,
#index_noticias {
    height: 299px;
    margin-bottom: 20px;
    margin-top: 10px;
}

#index_funcionalidades {
    width: 253px;
    float: left;
    margin-left: 10px;
}

#index_funcionalidades_preview {
    padding-left: 10px;
    margin-top: 10px;
}

#index_funcionalidades_preview img {
    border: 3px solid #bcc3c9;
}

#index_funcionalidades ul {
    list-style-position: inside;
    list-style-image: none;
    padding-left: 10px;
}

#index_funcionalidades ul li {
    background-image: url('../images/icons/bullet_funcionalidades.jpg');
    background-repeat: no-repeat;
    margin-bottom: 5px;
    
}

#index_noticias {
    width: 243px;
    float: right;
    background-color: #d7ef80;
    margin-right: 10px;
}

#index_noticias ul {
    list-style-position: inside;
    list-style-image: url(../images/icons/bullet_noticias.jpg);
    padding-left: 10px;
    margin-top: 10px;
}

#index_noticias ul li {
    margin-bottom: 5px;
    margin-top: 10px;
}


/* listagem */

.topBar {
    height: 75px;
    padding-top: 5px;
}

.topBar strong {
    font-weight: bold;
    color: #04264c;
}

.topBar table td {
    padding: 1px;
}

.topBar_title {
    width: 142px;
    float: left;
}

.topBar_title img {
    float: left;
    margin-right: 5px;
    vertical-align: middle;
}

.topBar_title h1 {
    font-size: 1.2em;
    color: #04264c;
    font-weight: bold;
}

.topBar_content {
    float: right;
    margin-top: -40px;
    width: 410px;
}

.topBarBottom {
    margin-bottom: 5px;
}

.listagem_filtros {
    background-color: #f1f1f1;
    padding: 5px;
    margin-bottom: 10px;
}

.listagem_filtros .title {
    margin-bottom: 5px;
}

.listagem_filtros table td {
    padding: 3px;
}

.esconde {
    display: none;
}

#scroll {
    max-height: 375px;
    overflow: auto;
    margin-bottom: 5px;
}

#colaboradorareas {
    display: none;
}

.enviar {
    margin-top: -30px;
}

.nottitulo {
    max-width: 173px;
    overflow: hidden;
}

.nottitulo a {
    color: #04264C;
    text-decoration: none;
}

ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    width: 98.5%;
}

ul.tabs li {
    float: left;
    margin: 0;
    padding: 0;
    height: 31px;
    line-height: 31px;
    border: 1px solid #999;
    border-left: none;
    margin-bottom: -1px;
    overflow: hidden;
    position: relative;
    background: #e0e0e0;
}

ul.tabs li a {
    text-decoration: none;
    color: #000;
    display: block;
    font-size: 1.2em;
    padding: 0 20px;
    border: 1px solid #fff;
    outline: none;
}

ul.tabs li a:hover {
    background: #ccc;
}

html ul.tabs li.active,
html ul.tabs li.active a:hover {
    background: #fff;
    border-bottom: 1px solid #fff;
}

.tab_container {
    border: 1px solid #999;
    border-top: none;
    overflow: hidden;
    clear: both;
    float: left;
    width: 98.5%;
    background: #fff;
}

.tab_content {
    padding: 16px;
    font-size: 1.2em;
}

#alinhartabela {
    width: 100px;
    height: 120px;
    float: left;
    padding: 5px 10px 4px 14px;
}

#alinhartabela img:hover,
.thumbnail img:hover {
    border: solid 1px #999;
    cursor: pointer;
}

#alinhartabela img,
.thumbnail img:hover {
    border: solid 1px #FFF;
    cursor: pointer;
}

.qq-upload-button {
    width: 602px;
    height: 150px;
    background-image: url(../images/uploadselect.png);
    margin-top: 25px;
    background-repeat: no-repeat;
    display: block;
}

.borderimg {
    border: 1px #DAD9D9 solid;
}

.qq-upload-button-hover {
    background-image: url(../images/uploadhover.png);
}

.central {
    margin-left: 118px;
    margin-top: 15px;
    width: 540px;
}

table.formatted tbody tr.autorizar {
    background-color: #E9D7D6;
}

.home-carousel ul {
    list-style-position: inside;
    list-style-image: url(../images/icons/bullet_funcionalidades.jpg);
}

.home-carousel ul li h4 {
    font-weight: bold!important;
}