/* Elementos */
* {
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
}

body {
	background-image: url("images/fundo_gradiente_cinza.png");
	background-repeat: repeat-x;
	text-align: center;
	margin: 0 auto;
}

form {
	font-size: 12px;
}


fieldset {
	margin-top: 50px;
	border: none;
	padding-left: 10px;
	background-image: url("images/fundo_gradiente_cinza.png");
	background-repeat: repeat-x;
} 

legend {
	margin-bottom: 30px;
	float: left;
	font-weight: bold;
	
}	

address {
	font-size: 10px;	
	text-align: right;
	padding-top: 15px;
	padding-right: 15px;
	color: #FFF;
}

label {
}

dt {
	margin-bottom: 10px;
}

dd {
	margin-left: 25px;
}

table{
	border: 1px solid #B5B6B5;
	font-family: Verdana, Arial;
	font-size: 10px;
}

td{
	border: 1px solid #B5B6B5;
}

tr{
	border: 1px solid #B5B6B5;

}


/* ID */
#geral {
	width: 790px;	
	margin: 0 auto;
	font-family: Verdana, Arial;
	font-size: 10px;
}

#menu {
	width: 190px;
	float: left;
	background:  url("images/fundo_gradiente_vermelho.png");
	background-color: #ab2820;
	min-height: 768px;
	_height: 768px;
}

#content {
	width: 590px;
	float: right;
	background-image: url("images/fundo_gradiente_cinza.png");
	background-repeat: repeat-x;
	padding-left: 10px;
	text-align: left;
}

#content h1 {
	margin: 10px;
}

#footer {
	clear: both;
	background-image: url("images/fundo_rodape.png");
	background-repeat: repeat-x;
	background-color: #872720;
	min-height: 93px;
}

#menu h2 {
	font-size: 8pt;	
	float: left;
}

#menu form {
	margin-top: 30px;
}

#menu form label {
	display: block;
	float: left;
	font-size: 8pt;
	clear: left;
	margin-top: 10px;
}

#menu form input {
	border: none;
	
	margin-top: 10px;
	float: right;
}

a#footer {
	color: #FFF;
	text-decoration: none;	
	
}

#menu a {
	color: white;
}

#menu a:hover {
	color: yellow;
}

h1#bisaLogo {
	background-image: url("images/Logotipo_bisa.gif");
	background-repeat: no-repeat;
	width: 189px;
	height: 70px;
	text-indent: -10000px;
	float: left;
	margin-top: 10px;
	margin-left: 15px;
}

h1#header {
	width: 158px;
	height: 150px;
	background-image: url("images/Logotipo_noticiador.gif");
	margin: 0 auto;
	margin-top: 20px;
	text-indent: -1000px;
}

#menu ul {
	color: #FFF;
	padding-left: 30px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 25px;
	font-size: 9pt;
	text-align: left;
}

/* Classes */
.sidebar {
	background: url("images/box_sidebar.png") no-repeat;
	height: 142px;
	color: #FFF;
	padding: 10px;
	margin-top: 10px;
	text-align: left;
}

.sidebaricon {
	border: 0px;
	float: right;
}

.email {
	color: #FFF;
}

.sidebarloginlink {
	color: white;
	clear: both;
	float: left;
	font-size: 10px;
	margin-top: 5px;
	width: 110px;
}

.sidebarlogado {
	width: 150px;
	list-style-type: none;
}

.sidebartext {
	width: 100px;
}

.sidebarbutton {
	background-color: #910000;
	color: white;
	width: 50px;
	clear: both;
	float: right;
}

.menu li {
	color: #FFF;
	list-style-type: square;
	_list-style-type: none;
	margin-top: 5px;
}

.botao {
	background-color: #910000;
	color: white;
	clear: both;
	float: right;
	border: none;
	margin: 10px;
	padding: 5px;
}

.linkCarregar {
}

.linkApagar {
}

.txtData {
	border: 1px solid lightgray;
	width: 75px;
	padding: 2px;
	
}

.comboArea {
	border: 1px solid lightgray;
	width: 175px;
	padding: 2px;

}

.comboMes {
	border: 1px solid lightgray;
	width: 175px;
	padding: 2px;

}

.inputText {
	border: 1px solid lightgray;
	padding: 2px;
}

.textArea {
	border: 1px solid lightgray;
	padding: 2px;
	overflow: scroll;
	overflow-y: scroll;
	overflow-x: hidden;
	overflow:-moz-scrollbars-vertical;
}

.tagli {
	margin-bottom: 8px;
}

.tagol {
}

.tagdt {
	font-weight: bold;
}

.labelListaPerfil {

}

 .seletorLinguagem {
	text-decoration: none;
	color: white;
	clear: both;
	background-color: #872720;
	height: 20px;
}

 .linguagem {
 	text-decoration: none;
	color: white;
	margin-bottom: 100px;
	margin-left: 10px;
}