* {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration:none;
}

.style6 {font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
.style7 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #333333; }
.style10 {color: #666666}
.style14 {color: #003366}
.style5 {color: #006699}
.style8 {font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.style15 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #003366;
}
#apDiv1 {
	position:absolute;
	left:80px;
	top:236px;
	width:256px;
	height:143px;
	z-index:1;
}
#apDiv2 {
	position:absolute;
	left:46px;
	top:167px;
	width:686px;
	height:195px;
	z-index:1;
}
#content {
float: left;
width: 470px; 
margin: 10px 10px 0 10px;
background-image: url(images/imgs/back_content.jpg);
background-repeat: no-repeat;
padding: 0;
font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
}

#sidebar {
float: left;
width: 180px;
margin: 10px 0 0 0;
padding: 0;
background-image: url(images/imgs/back_sidebar.jpg);
background-repeat: no-repeat;
color: #787878;
}

.style13 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; }
.style17 {font-size: 11px}

.menu li {
	color: #FFF;
/*
	list-style-type: none;
*/	
	margin-top: 5px;
}

#menu ul {
	color: #FFF;
	padding-left: 30px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 25px;
	font-size: 9pt;
	text-align: left;
	
	list-style-type: none;
	text-align: right;
}

fieldset {
	margin-top: 10px;
	border: none;
	padding-left: 10px;
	background-image: url("images/fundo_gradiente_cinza.png");
	background-repeat: repeat-x;
} 

legend {
	margin-bottom: 30px;
	float: left;
	font-weight: bold;
	
}	

.tagli {
	margin-bottom: 8px;
}

.tagol {
}

.tagdt {
	font-weight: bold;
}

a {
	color: #003366;
}

a:hover {
	text-decoration: underline;
}

.botao {
	background-color: #910000;
	color: white;
	clear: both;
	float: right;
	border: none;
	margin: 10px;
	padding: 5px;
}

.inputText {
	border: 1px solid lightgray;
	padding: 2px;
}

.textArea {
	border: 1px solid lightgray;
	padding: 2px;
	overflow: scroll;
	overflow-y: scroll;
	overflow-x: hidden;
	overflow:-moz-scrollbars-vertical;
}

form {
	font-size: 12px;
}

h3 {
	font-size: 15px;	
}
